.footer_nav {
  /* display: flex; */
  grid-template-columns: repeat(4, auto);
  gap: 20px 20px;
}
@media screen and (max-width: 768px) {
  .footer_nav {
    grid-template-columns: repeat(2, auto);
    gap: 20px 10px;
  }
}
@media screen and (max-width: 391px) {
  .footer_nav {
    grid-template-columns: auto;
  }
}
