.CountryName h2 {
  font-size: 20px;
  font-weight: 500;
}
.CountryUl li {
  display: flex;
  align-items: center;
}
.CountryIcon {
  margin-right: 10px;
  font-size: 20px;
}

.CountryUl a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .CountryName h2 {
    font-size: 18px;
    font-weight: 500;
  }
  .CountryIcon {
    margin-right: 7px;
    font-size: 15px;
  }
}
@media screen and (max-width: 391px) {
}
