@media only screen and (max-width: 1440px) and (min-width: 768px) {
    .login-signup {
        padding: 25px;
        height: 480px;
    }

    .login-logo-image img {
        margin-bottom: 5px;
    }

    .login-title h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .login-title p {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .close-icon {
        padding: 5px 6px 6px;
    }

    .input_container span {
        top: -155px;
        left: 12px;
        font-size: 16px;
        padding: 0 5px;
    }

    .gone span {
        top: -175px;
    }

    .tel-input {
        margin-bottom: 8px;
    }

    .tel-input button {
        padding: 20px 7px;
    }

    .tel-input .react-international-phone-input-container .react-international-phone-input {
        padding: 20px;
    }

    .tel-input img {
        width: 40px;
    }

    .login-signup input {
        padding: 6px 16px;
        margin-bottom: 8px;
    }

    .login-signup .login {
        padding: 8px 18px;
        font-size: 14px;
    }


    .login-signup .or {
        font-size: 16px;
    }

    .google-fb {
        display: flex;
        flex-direction: row;
    }

    .login-google a {
        border: none;
        font-size: 30px;
        padding: 6px 15px;
        margin-bottom: 8px;
        background-color: unset;
    }

    .login-google p {
        display: none;
    }

    .login-google svg {
        width: 100%;
    }

    .login-fb a {
        border: none;
        font-size: 30px;
        padding: 6px 15px;
        background-color: unset;
        color: black;
    }

    .login-fb p {
        display: none;
    }

    .login-fb svg {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) and (min-width: 425px) {
    .login-signup {
        padding: 8px 13px;
        width: 400px;
        height: 450px;
    }

    .close-icon {
        padding: 5px 6px 6px;
    }


    .login-signup input {
        padding: 12px;
        width: 370px;
    }

    .login-signup .login {
        padding: 12px 18px;
        width: 375px;
    }

    .login-signup .email {
        padding: 2px;
        font-size: 1.5em;
    }

    .login-title h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .login-title p {
        text-align: start;
    }

    .login-signup .or {
        font-size: 18px;
    }

    .login-google a {
        padding: 8px;
        width: 370px;
    }

    .login-fb a {
        padding: 8px;
        width: 370px;
    }
}

@media only screen and (max-width: 424px) and (min-width: 375px) {
    .login-signup {
        padding: 10px;
        width: 355px;
        height: 460px;
    }

    .close-icon {
        padding: 5px 6px 6px;
        left: 95%;
    }


    .login-signup input {
        padding: 12px;
        width: 325px;
    }

    .login-signup .login {
        padding: 12px 18px;
        width: 328px;
    }

    .login-signup .email {
        padding: 5px 0;
        font-size: 21px;
    }

    .login-title h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .login-title p {
        text-align: start;
    }

    .login-signup .or {
        font-size: 18px;
    }

    .login-google a {
        padding: 8px;
        width: 325px;
    }

    .login-fb a {
        padding: 8px;
        width: 325px;
    }
}

@media only screen and (max-width: 375px) and (min-width: 326px) {
    .login-signup {
        padding: 10px;
        width: 355px;
        height: 450px;
    }

    .close-icon {
        padding: 5px 6px 6px;
        left: 94%;
    }


    .login-signup input {
        padding: 12px;
        width: 325px;
    }

    .login-signup .login {
        padding: 12px 18px;
        width: 328px;
    }

    .login-signup .email {
        padding: 2px;
        font-size: 1.5em;
    }

    .login-title h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .login-title p {
        text-align: start;
    }

    .login-signup .or {
        font-size: 18px;
    }

    .login-google a {
        padding: 8px;
        width: 325px;
    }

    .login-fb a {
        padding: 8px;
        width: 325px;
    }
}

@media only screen and (max-width: 325px) and (min-width: 280px) {
    .login-signup {
        padding: 8px;
        width: 300px;
        height: 425px;
    }


    .login-title h2 {
        font-size: 21px;
    }

    .login-title p {
        font-size: 16px;
    }

    .close-icon {
        padding: 5px 6px 6px;
        left: 94%;
    }


    .login-signup input {
        padding: 12px;
        width: 280px;
    }

    .login-signup .login {
        padding: 8px;
        width: 280px;
    }

    .login-signup .email {
        padding: 8px 0;
        font-size: 20px;
    }

    .login-title h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .login-title p {
        text-align: start;
    }

    .login-signup .or {
        font-size: 15px;
    }

    .login-google a {
        padding: 8px;
        font-size: 14px;
        width: 280px;
    }

    .login-fb a {
        padding: 8px;
        font-size: 14px;
        width: 280px;
    }
}