* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.modal-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-signup {
    padding: 40px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.close-icon {
    position: absolute;
    cursor: pointer;
    top: -3%;
    left: 96%;
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid lightgrey;
    padding: 7px 7px 9px;
    color: #4b5563;
}

.tel-input {
    width: 100%;
    margin-bottom: 20px;
}

.tel-input button {
    padding: 25px 7px;
}

.tel-input img {
    width: 40px;
}

.tel-input .react-international-phone-input-container .react-international-phone-input {
    padding: 25px;
}

.login-logo-image img {
    width: 40px;
    margin-bottom: 20px;
    display: inline;
}

.input_container {
    position: relative;
}

.input_container span {
    transition: 0.1s all linear;
    position: absolute;
    top: -174px;
    transform: translateY(670%);
    left: 20px;
    font-size: 18px;
    padding: 0 5px;
    background: #fff;
    color: rgb(108, 108, 108);
    pointer-events: none;
}

.gone span {
    color: rgb(108, 108, 108);
    top: -195px;
}

.login-signup input {
    width: 100%;
    padding: 10px 18px;
    border-radius: 3px;
    border: 1px solid;
    margin-bottom: 20px;
    /* position: relative; */
    text-transform: lowercase;
}

.login-signup .login {
    width: 100%;
    display: block;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid;
    font-size: 18px;
}

.login-signup .login:hover {
    background-color: #f56a54cf;
}

.login-title h2 {
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 22px;
}

.login-title p {
    margin-bottom: 10px;
}

.login-signup .or {
    padding: 15px 0;
    font-size: 22px;
    font-weight: 600;
}

.google-fb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login-google {
    width: 100%;
}

.login-google a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 10px 15px;
    color: black;
    border-radius: 5px;
    border: 1px solid;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 20px;
}

.login-google a:hover {
    background-color: #eceaea7e;
}

.login-google p {
    margin: 0;
    padding-right: 30%;
}

.login-google i {
    padding-right: 20px;
}

.login-fb {
    width: 100%;
}

.login-fb a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1E3A8A; */
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    border: 1px solid;
    font-size: 18px;
    text-decoration: none;
    color: #4267B2;
}

.login-fb a:hover {
    background-color: #4267b2e2;
    color: white;
}

.login-fb p {
    margin: 0;
    padding-right: 30%;
}

.login-fb i {
    padding-right: 20px;
}