@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .login-signup {
        padding: 10px 20px;
        height: 475px;
    }

    .login-logo-image img {
        margin-bottom: 5px;
    }

    .login-title h2 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .login-title p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .close-icon {
        padding: 5px 6px 6px;
        left: 95%;
    }

    .input_container span {
        top: -135px;
        left: 12px;
        font-size: 14px;
        padding: 0 5px;
    }

    .gone span {
        top: -152px;
    }

    .tel-input {
        margin-bottom: 8px;
    }

    .tel-input button {
        padding: 15px 7px;
    }

    .tel-input .react-international-phone-input-container .react-international-phone-input {
        padding: 15px;
    }

    .tel-input img {
        width: 30px;
    }

    .login-signup input {
        padding: 4px;
        margin-bottom: 15px;
    }

    .login-signup .login {
        padding: 8px 18px;
        font-size: 14px;
    }

    .google-fb {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: normal;
    }

    .login-google {
        width: 0;
    }

    .google-fb a {
        width: 45px;
        height: 45px;
        border: 1px solid lightgray;
        transition: all .3s ease;
        cursor: pointer;
        background-color: unset;
        padding: 6px;
    }

    .google-fb a:hover {
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    }

    .login-google p {
        display: none;
    }

    .google-fb svg {
        width: 100%;
        font-size: 25px;
    }

    /* FB */
    .login-fb {
        width: 20%;
    }

    .login-fb p {
        display: none;
    }

    .login-signup .or {
        font-size: 16px;
        padding: 4px 0;
    }
}

/* 1024 */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .login-signup {
        width: 50%;
        padding: 15px 20px;
        height: 480px;
    }

    .login-logo-image img {
        margin-bottom: 5px;
    }

    .login-title h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .login-title p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .close-icon {
        padding: 5px 6px 6px;
        left: 95%;
    }

    .input_container span {
        top: -135px;
        left: 12px;
        font-size: 14px;
        padding: 0 5px;
    }

    .gone span {
        top: -152px;
    }

    .tel-input {
        margin-bottom: 8px;
    }

    .tel-input button {
        padding: 15px 7px;
    }

    .tel-input .react-international-phone-input-container .react-international-phone-input {
        padding: 15px;
    }

    .tel-input img {
        width: 30px;
    }

    .login-signup input {
        padding: 4px;
        margin-bottom: 15px;
    }

    .login-signup .login {
        padding: 8px 18px;
        font-size: 14px;
    }


    .login-signup .or {
        font-size: 14px;
        padding: 4px 0;
    }

    /* GOOGLE-FB */
    .google-fb {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: normal;
    }

    .login-google {
        width: 0;
    }

    .google-fb a {
        width: 45px;
        height: 45px;
        border: 1px solid lightgray;
        transition: all .3s ease;
        cursor: pointer;
        background-color: unset;
        padding: 6px;
    }

    .google-fb a:hover {
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    }

    .login-google p {
        display: none;
    }

    .google-fb svg {
        width: 100%;
        font-size: 25px;
    }

    /* FB */
    .login-fb {
        width: 20%;
    }

    .login-fb p {
        display: none;
    }
}

/* 768 */
@media only screen and (max-width: 768px) and (min-width: 425px) {
    .login-signup {
        width: 65%;
        padding: 10px 20px;
        height: 455px;
    }

    .login-logo-image img {
        margin-bottom: 5px;
    }

    .login-title h2 {
        font-size: 16px;
        margin-bottom: 3px;
    }

    .login-title p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .close-icon {
        padding: 5px 6px 6px;
        left: 95%;
    }

    .input_container span {
        top: -135px;
        left: 12px;
        font-size: 14px;
        padding: 0 5px;
    }

    .gone span {
        top: -152px;
    }

    .tel-input {
        margin-bottom: 8px;
    }

    .tel-input button {
        padding: 15px 7px;
    }

    .tel-input .react-international-phone-input-container .react-international-phone-input {
        padding: 15px;
    }

    .tel-input img {
        width: 30px;
    }

    .login-signup input {
        padding: 4px;
        margin-bottom: 14px;
    }

    .login-signup .login {
        padding: 8px 18px;
        font-size: 14px;
    }


    .login-signup .or {
        font-size: 14px;
        padding: 4px 0;
    }

    /* GOOGLE-FBs */
    .google-fb {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: normal;
    }

    .login-google {
        width: 0;
    }

    .google-fb a {
        width: 35px;
        height: 35px;
        border: 1px solid lightgray;
        transition: all .3s ease;
        cursor: pointer;
        background-color: unset;
        padding: 10px;
    }

    .google-fb a:hover {
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    }

    .login-google p {
        display: none;
    }

    .google-fb svg {
        width: 100%;
        font-size: 55px;
    }

    /* FB */
    .login-fb {
        width: 20%;
    }

    .login-fb p {
        display: none;
    }
}


/* 425 */
@media only screen and (max-width: 425px) and (min-width: 375px) {
    .login-signup {
        padding: 10px 20px;
        height: 465px;
        width: 80%;
    }

    .login-logo-image img {
        margin-bottom: 5px;
    }

    .login-title h2 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .login-title p {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .close-icon {
        padding: 5px 6px 6px;
        left: 95%;
    }

    .input_container span {
        top: -135px;
        left: 12px;
        font-size: 14px;
        padding: 0 5px;
    }

    .gone span {
        top: -152px;
    }

    .tel-input {
        margin-bottom: 8px;
    }

    .tel-input button {
        padding: 15px 7px;
    }

    .tel-input .react-international-phone-input-container .react-international-phone-input {
        padding: 15px;
    }

    .tel-input img {
        width: 30px;
    }

    .login-signup input {
        padding: 4px;
        margin-bottom: 14px;
    }

    .login-signup .login {
        padding: 8px 18px;
        font-size: 14px;
    }


    .login-signup .or {
        font-size: 14px;
        padding: 4px 0;
    }

    /* GOOGLE-FBs */
    .google-fb {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: normal;
    }

    .login-google {
        width: 0;
    }

    .google-fb a {
        width: 40px;
        height: 40px;
        border: 1px solid lightgray;
        transition: all .3s ease;
        cursor: pointer;
        background-color: unset;
        padding: 10px;
    }

    .google-fb a:hover {
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    }

    .login-google p {
        display: none;
    }

    .google-fb svg {
        width: 100%;
        font-size: 55px;
    }

    /* FB */
    .login-fb {
        width: 20%;
    }

    .login-fb p {
        display: none;
    }
}

/* 375 */
@media only screen and (max-width: 375px) and (min-width: 321px) {
    .login-signup {
        width: 80%;
        padding: 10px 20px;
        height: 460px;
    }

    .login-logo-image img {
        margin-bottom: 5px;
    }

    .login-title h2 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .login-title p {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .close-icon {
        padding: 5px 6px 6px;
        left: 95%;
    }

    .input_container span {
        top: -135px;
        left: 12px;
        font-size: 14px;
        padding: 0 5px;
    }

    .gone span {
        top: -152px;
    }

    .tel-input {
        margin-bottom: 8px;
    }

    .tel-input button {
        padding: 15px 7px;
    }

    .tel-input .react-international-phone-input-container .react-international-phone-input {
        padding: 15px;
    }

    .tel-input img {
        width: 30px;
    }

    .login-signup input {
        padding: 4px;
        margin-bottom: 14px;
    }

    .login-signup .login {
        padding: 8px 18px;
        font-size: 14px;
    }


    .login-signup .or {
        font-size: 14px;
        padding: 4px 0;
    }

    /* GOOGLE-FBs */
    .google-fb {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: normal;
    }

    .login-google {
        width: 0;
    }

    .google-fb a {
        width: 35px;
        height: 35px;
        border: 1px solid lightgray;
        transition: all .3s ease;
        cursor: pointer;
        background-color: unset;
        padding: 10px;
    }

    .google-fb a:hover {
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    }

    .login-google p {
        display: none;
    }

    .google-fb svg {
        width: 100%;
        font-size: 55px;
    }

    /* FB */
    .login-fb {
        width: 20%;
    }

    .login-fb p {
        display: none;
    }
}

/* 320 */
@media only screen and (max-width: 320px) and (min-width: 280px) {
    .login-signup {
        width: 90%;
        padding: 5px 15px;
        height: 425px;
    }

    .login-logo-image img {
        margin-bottom: 5px;
    }

    .login-title h2 {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .login-title p {
        font-size: 8px;
        margin-bottom: 10px;
    }

    .close-icon {
        padding: 5px 6px 6px;
        left: 93%;
    }

    .input_container span {
        top: -114px;
        left: 12px;
        font-size: 12px;
        padding: 0 5px;
    }

    .gone span {
        top: -130px;
    }

    .tel-input {
        margin-bottom: 8px;
    }

    .tel-input button {
        padding: 15px 7px;
    }

    .tel-input .react-international-phone-input-container .react-international-phone-input {
        padding: 15px;
    }

    .tel-input img {
        width: 30px;
    }

    .login-signup input {
        padding: 3px;
        margin-bottom: 12px;
    }

    .login-signup .login {
        padding: 8px 18px;
        font-size: 12px;
    }


    .login-signup .or {
        font-size: 12px;
        padding: 4px 0;
    }

    /* GOOGLE-FBs */
    .google-fb {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: normal;
    }

    .login-google {
        width: 0;
    }

    .google-fb a {
        width: 35px;
        height: 35px;
        border: 1px solid lightgray;
        transition: all .3s ease;
        cursor: pointer;
        background-color: unset;
        padding: 10px;
    }

    .google-fb a:hover {
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    }

    .login-google p {
        display: none;
    }

    .google-fb svg {
        width: 100%;
        font-size: 55px;
    }

    /* FB */
    .login-fb {
        width: 20%;
    }

    .login-fb p {
        display: none;
    }
}