@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .login-signup {
        padding: 25px;
        height: 480px;
    }

    .close-icon {
        padding: 5px 6px 6px;
    }

    .input_container span {
        top: -155px;
        left: 12px;
        font-size: 16px;
        padding: 0 5px;
    }

    .gone span {
        top: -175px;
    }

    .tel-input {
        margin-bottom: 8px;
    }

    .tel-input button {
        padding: 20px 7px;
    }

    .tel-input .react-international-phone-input-container .react-international-phone-input {
        padding: 20px;
    }

    .tel-input img {
        width: 40px;
    }

    .login-signup input {
        padding: 6px 16px;
        margin-bottom: 15px;
    }

    .login-signup .login {
        padding: 8px 18px;
        font-size: 14px;
    }


    .login-signup .or {
        font-size: 16px;
    }

}

/* 1024 */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .login-signup {
        padding: 15px 20px;
        height: 490px;
    }

    .login-logo-image img {
        margin-bottom: 5px;
    }

    .login-title h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .login-title p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .close-icon {
        padding: 5px 6px 6px;
    }

    .input_container span {
        top: -155px;
        left: 12px;
        font-size: 16px;
        padding: 0 5px;
    }

    .gone span {
        top: -175px;
    }

    .tel-input {
        margin-bottom: 8px;
    }

    .tel-input button {
        padding: 20px 7px;
    }

    .tel-input .react-international-phone-input-container .react-international-phone-input {
        padding: 20px;
    }

    .tel-input img {
        width: 40px;
    }

    .login-signup input {
        padding: 6px 16px;
        margin-bottom: 15px;
    }

    .login-signup .login {
        padding: 12px 18px;
        width: 375px;
    }

    .google-fb a {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid lightgray;
        transition: all .3s ease;
        cursor: pointer;
        background-color: unset;
    }

    .google-fb a:hover {
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    }

    .login-google p {
        display: none;
    }

    .google-fb svg {
        width: 100%;
        font-size: 25px;
    }

    /* FB */
    .login-fb {
        width: 20%;
    }

    .login-fb p {
        display: none;
    }
}

/* 768 */
@media only screen and (max-width: 768px) and (min-width: 425px) {
    .login-signup {
        padding: 15px 20px;
        height: 450px;
    }

    .login-logo-image img {
        margin-bottom: 5px;
    }

    .login-title h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .login-title p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .close-icon {
        padding: 5px 6px 6px;
    }

    .input_container span {
        top: -155px;
        left: 12px;
        font-size: 16px;
        padding: 0 5px;
    }

    .gone span {
        top: -175px;
    }

    .tel-input {
        margin-bottom: 8px;
    }

    .tel-input button {
        padding: 20px 7px;
    }

    .tel-input .react-international-phone-input-container .react-international-phone-input {
        padding: 20px;
    }

    .tel-input img {
        width: 40px;
    }

    .login-signup input {
        padding: 6px 16px;
        margin-bottom: 15px;
    }

    .login-signup .login {
        padding: 8px 18px;
        font-size: 14px;
    }


    .login-signup .or {
        padding: 5px 0;
        font-size: 21px;
    }

    .google-fb a:hover {
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    }

    .login-google p {
        display: none;
    }

    .google-fb svg {
        width: 100%;
        font-size: 55px;
    }

    /* FB */
    .login-fb {
        width: 20%;
    }

    .login-fb p {
        display: none;
    }
}


/* 425 */
@media only screen and (max-width: 425px) and (min-width: 375px) {
    .login-signup {
        padding: 10px 20px;
        height: 465px;
        width: 90%;
    }

    .login-logo-image img {
        margin-bottom: 5px;
    }

    .login-title h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .login-title p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .close-icon {
        padding: 5px 6px 6px;
        left: 94%;
    }

    .input_container span {
        top: -155px;
        left: 12px;
        font-size: 16px;
        padding: 0 5px;
    }

    .gone span {
        top: -175px;
    }

    .tel-input {
        margin-bottom: 8px;
    }

    .tel-input button {
        padding: 20px 7px;
    }

    .tel-input .react-international-phone-input-container .react-international-phone-input {
        padding: 20px;
    }

    .tel-input img {
        width: 40px;
    }

    .login-signup input {
        padding: 6px 16px;
        margin-bottom: 15px;
    }

    .login-signup .login {
        padding: 12px 18px;
        width: 328px;
    }

    .google-fb a {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid lightgray;
        transition: all .3s ease;
        cursor: pointer;
        background-color: unset;
    }

    .google-fb a:hover {
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    }

    .login-google p {
        display: none;
    }

    .google-fb svg {
        width: 100%;
        font-size: 55px;
    }

    /* FB */
    .login-fb {
        width: 20%;
    }

    .login-fb p {
        display: none;
    }
}

/* 375 */
@media only screen and (max-width: 375px) and (min-width: 320px) {
    .login-signup {
        width: 90%;
        padding: 10px 20px;
        height: 465px;
    }

    .login-logo-image img {
        margin-bottom: 5px;
    }

    .login-title h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .login-title p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .close-icon {
        padding: 5px 6px 6px;
        left: 94%;
    }

    .input_container span {
        top: -155px;
        left: 12px;
        font-size: 16px;
        padding: 0 5px;
    }

    .gone span {
        top: -175px;
    }

    .tel-input {
        margin-bottom: 8px;
    }

    .tel-input button {
        padding: 20px 7px;
    }

    .tel-input .react-international-phone-input-container .react-international-phone-input {
        padding: 20px;
    }

    .tel-input img {
        width: 40px;
    }

    .login-signup input {
        padding: 6px 16px;
        margin-bottom: 15px;
    }

    .login-signup .login {
        padding: 8px;
        width: 280px;
    }

    .login-logo-image img {
        margin-bottom: 5px;
    }

    .login-title h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .login-title p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .close-icon {
        padding: 5px 6px 6px;
        left: 93%;
    }

    .input_container span {
        top: -135px;
        left: 12px;
        font-size: 14px;
        padding: 0 5px;
    }

    .gone span {
        top: -150px;
    }

    .tel-input {
        margin-bottom: 8px;
    }

    .tel-input button {
        padding: 15px 7px;
    }

    .tel-input .react-international-phone-input-container .react-international-phone-input {
        padding: 15px;
    }

    .tel-input img {
        width: 40px;
    }

    .login-signup input {
        padding: 4px 16px;
        margin-bottom: 15px;
    }

    .login-signup .login {
        padding: 6px 18px;
        font-size: 12px;
    }


    .login-signup .or {
        font-size: 15px;
    }

    /* FB */
    .login-fb {
        width: 20%;
    }

    .login-fb p {
        display: none;
    }
}