.contact_contries_container {
  grid-template-columns: repeat(3, auto);
  gap: 10px 10px;
}
.CountryElImg {
  margin-left: -9px;
}

@media screen and (max-width: 1078px) {
  .contact_contries_container {
    grid-template-columns: repeat(2, auto);
    gap: 10px 5px;
  }
  .CountryElImg {
    margin-left: -19px;
  }
}
@media screen and (max-width: 710px) {
  .contact_contries_container {
    grid-template-columns: auto;
  }
}
