.services-banner
{

    .services-img { 
        height: 500px;
        
       > img {
        /* background-image: url(../Assets/servicesbanner.jpg); */
        width: 100%;
        height: 100%;        
    }}
}

.services {
    padding: 0px 30px 50px 30px;
}

.services-banner {
    position: relative;
}

.services-banner button {
    padding: 10px 15px;
    color: white;
    background-color: #F56A54;
    border-radius: 5px;
    border: 1px solid #F56A54;
    font-size: 18px;
}

.services-banner button:hover {
    background-color: #f56a54c5;
}

.services-banner-title h1 {
    color: white;
    margin-bottom: 30px;
    width: 41%;
    font-size: 40px;
    font-weight: 600;
    background-color: rgba(128, 128, 128, 0.411);
    backdrop-filter: blur(3px);
    border-radius: 10px;
}

.services-banner-title {
    position: absolute;
    width: 100%;
    top: 30px;
    padding: 70px;
}

.services-title {
    margin: 70px 0;
}

.services-title h3 {
    font-size: 35px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

/* /////////////////////// */
.services-boxs {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0 70px;
}

.services-box {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    padding: 0 1px 0 0;
    border-radius: 5px;
}

.services-box img {
    width: 128px;
    height: 128px;
    border-radius: 5px;
}

.services-box-title {
    padding: 0 18px;
}


.services-box-title h4 {
    color: #3C3C71;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.services-box-title p {
    font-size: 16px;
}

.services-icon {
    font-size: 20px;
    transition: all 200ms linear;
}

.services-box:hover .services-icon {
    margin-left: 10px;
}