@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    /* .services-banner {
        height: 320px;
    } */

    .services-banner button {
        padding: 10px 15px;
        font-size: 18px;
    }

    .services-banner-title h1 {
        margin-bottom: 30px;
        width: 50%;
    }

    .services-banner-title {
        padding: 70px;
    }

    .services-box-title {
        padding: 0 8px;
    }

    /* /////////////// */
    .services-box {
        width: 90%;
    }

    .services-box-title h4 {
        font-size: 14px;
    }

    .services-box-title p {
        font-size: 12px;
    }

    .services-icon {
        font-size: 16px;
    }
}

/* 1024px */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .services-banner {
        /* height: 320px; */
    }

    .services-banner button {
        padding: 10px 15px;
        font-size: 18px;
    }

    .services-banner-title h1 {
        margin-bottom: 30px;
        width: 50%;
    }

    .services-banner-title {
        padding: 70px;
    }

    .services-boxs {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 10px;
    }

    /* /////////////// */
    .services-box {
        width: 100%;
    }

    .services-boxs {
        grid-template-columns: repeat(2, 50%);
    }
}

/* 768px */
@media only screen and (max-width: 768px) and (min-width: 425px) {
    .services-banner .services-img img {
        /* height: 300px; */
    }

    .services-banner-title h1 {
        font-size: 30px;
        width: 100%;
    }

    .services-banner-title {
        text-align: center;
    }

    /* /////////////// */
    .services-boxs {
        grid-template-columns: repeat(1, 100%);
        padding: 0;
    }
}

/* 425 */
@media only screen and (max-width: 425px) and (min-width: 375px) {
    .services-banner-title h1 {
        font-size: 30px;
        width: 100%;
    }

    .services-banner-title {
        text-align: center;
    }

    .services-box-title {
        padding: 0 8px;
    }

    .services-box-title h4 {
        font-size: 14px;
    }

    .services-box-title p {
        font-size: 12px;
    }

    .services-box img {
        width: 98px;
        /* height: 98px; */
    }

    .services-icon {
        font-size: 14px;
    }



    /* /////////////// */
    .services-boxs {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }
}

/* 375 */
@media only screen and (max-width: 375px) and (min-width: 321px) {
    .services-banner .services-img img {
        height: 300px;
    }

    .services-banner-title h1 {
        font-size: 25px;
        width: 100%;
    }

    .services-box-title {
        padding: 0 8px;
    }

    .services-box-title h4 {
        font-size: 12px;
    }

    .services-box-title p {
        font-size: 10px;
    }

    .services-box img {
        width: 85px;
        height: 85px;
    }

    .services-banner-title {
        text-align: center;
    }

    .services-box-title {
        padding: 0 8px;
    }

    .services-icon {
        font-size: 14px;
    }

    /* /////////////// */
    .services-boxs {
        grid-template-columns: repeat(1, 100%);
        padding: 0;
    }
}

/* 320 */
@media only screen and (max-width: 320px) and (min-width: 280px) {
    .services-banner .services-img img {
        height: 280px;
    }

    .services-banner-title h1 {
        font-size: 20px;
        width: 100%;
    }

    .services-box-title h4 {
        font-size: 12px;
    }

    .services-box img {
        width: 98px;
        height: 98px;
    }

    .services-box-title p {
        font-size: 10px;
    }

    .services-icon {
        font-size: 12px;
    }

    .services-box:hover .services-icon {
        margin-left: 6px;
    }

    .services-banner-title {
        text-align: center;
    }

    .services-banner button {
        font-size: 14px;
    }

    /* /////////////// */
    .services-boxs {
        grid-template-columns: repeat(1, 1fr);
    }
}